@font-face {
  font-family: "Gilda Display";
  src: url('../fonts/GildaDisplay/GildaDisplay-Regular.eot');
  src: url('../fonts/GildaDisplay/GildaDisplay-Regular.woff2') format('woff2'),
  url('../fonts/GildaDisplay/GildaDisplay-Regular.woff') format('woff'),
  url('../fonts/GildaDisplay/GildaDisplay-Regular.ttf') format('truetype'),
  url('../fonts/GildaDisplay/GildaDisplay-Regular.svg#GildaDisplay-Regular') format('svg'),
  url('../fonts/GildaDisplay/GildaDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.eot');
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.woff2') format('woff2'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.woff') format('woff'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.ttf') format('truetype'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.svg#QuattrocentoSans-Bold') format('svg'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.eot');
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.woff2') format('woff2'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.woff') format('woff'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.ttf') format('truetype'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.svg#QuattrocentoSans-Italic') format('svg'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.eot');
  src: url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.woff2') format('woff2'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.woff') format('woff'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf') format('truetype'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.svg#QuattrocentoSans-Regular') format('svg'),
  url('../fonts/QuattrocentoSans/QuattrocentoSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rufina";
  src: url('../fonts/Rufina/Rufina-Bold.eot');
  src: url('../fonts/Rufina/Rufina-Bold.woff2') format('woff2'),
  url('../fonts/Rufina/Rufina-Bold.woff') format('woff'),
  url('../fonts/Rufina/Rufina-Bold.ttf') format('truetype'),
  url('../fonts/Rufina/Rufina-Bold.svg#Rufina-Bold') format('svg'),
  url('../fonts/Rufina/Rufina-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}