footer.footer
    .footer__left
        .footer__copyright
            .footer__copyright-top &copy; Vloger 2015.
            .footer__copyright-bottom Made with by beautheme.com. All rights Reserved.
    .footer__right
        ul.contacts
            li.contacts__item
                a(href="#").contacts__link About us
            li.contacts__item
                a(href="#").contacts__link Contact us
            li.contacts__item
                a(href="#").contacts__link Site map
            li.contacts__item
                a(href="#").contacts__link RSS