header.header
    .header__top
        .container
            h1.header__title Bologna
            .header__desc Awordpress theme for bloggers
    .header__bottom
        .header__left
            include ../components/_socials
        .header__middle
            include ../components/_navbar
        .header__right
            .header__search
                i.fa.fa-search