.instagram
    .instagram__top
        .instagram__header
            h3.instagram__title Instagram
    .instagram__bottom
         ul.instagram__list
             li.instagram__item.instagram__item_1
             li.instagram__item.instagram__item_big.instagram__item_2
             li.instagram__item.instagram__item_long.instagram__item_3
             li.instagram__item.instagram__item_4
             li.instagram__item.instagram__item_5
             li.instagram__item.instagram__item_6
             li.instagram__item.instagram__item_7
             li.instagram__item.instagram__item_8