aside.sidebar
    include ../components/_about
    include ../components/_newsletter
    include ../components/_latest-posts
    .sidebar__instagram
        ul.sidebar__instagram-list
            li.sidebar__instrgram-item
                img.sidebar__instagram-image(src="#" alt="#")
            li.sidebar__instrgram-item
                img.sidebar__instagram-image(src="#" alt="#")
            li.sidebar__instrgram-item
                img.sidebar__instagram-image(src="#" alt="#")
            li.sidebar__instrgram-item
                img.sidebar__instagram-image(src="#" alt="#")
    include ../components/_categories
    .advertising
        .advertising__title Blog
        .advertising__desc advertising
    .tags
        .tags__title
        ul.tags__list
            li.tags__item blog
            li.tags__item fashion
            li.tags__item gallery
            li.tags__item happiness
            li.tags__item inspiration
            li.tags__item lifestyle
            li.tags__item living
            li.tags__item love
            li.tags__item sea
            li.tags__item story
            li.tags__item summertime
            li.tags__item travel