main.content
    .content__left
        ul.content__list
            li.content__item
               .content__photo
                   img.content__photo-image(src="img/content/best-beauty-10132015.jpg" alt="Best beauty 13 October 2015")
               .content__category Fashion
               h3.content__title The Best Beauty Looks: Week of October 13, 2015
               .content__desc There are many variations of passages of Lorem Ipsum available,
                   | but the majority have suffered alteration in some form, by injected humour or randomised words...
               .content__date Dec 09 /
                    span.content__date-year  2015
            li.content__item
                .content__photo
                    img.content__photo-image(src="img/content/hugo-theme.jpg" alt="Hugo theme")
                .content__category Audio
                h3.content__title Hugo theme: If you love someone let them go
                .content__desc There are many variations of passages of Lorem Ipsum available,
                    | but the majority have suffered alteration in some form, by injected humour or randomised words...
                .content__date Dec 09 /
                    span.content__date-year  2015
            li.content__item
                .content__photo
                    img.content__photo-image(src="img/content/plus-privilege.jpg" alt="Plus Privilege")
                .content__category Make up
                h3.content__title Yes, "Plus Privilege" Exists. Here What It Is
                .content__desc There are many variations of passages of Lorem Ipsum available,
                    | but the majority have suffered alteration in some form, by injected humour or randomised words...
                .content__date Dec 09 /
                    span.content__date-year  2015
            li.content__item
                .content__photo
                    img.content__photo-image(src="img/content/blue-eye.jpg" alt="Blue eye")
                .content__category Beauty
                h3.content__title Is Blue Eye Shadow Paris's Newest Street Style Star?
                .content__desc There are many variations of passages of Lorem Ipsum available,
                    | but the majority have suffered alteration in some form, by injected humour or randomised words...
                .content__date Dec 09 /
                    span.content__date-year  2015
            li.content__item
                .content__photo
                    img.content__photo-image(src="img/content/lili-sumner-112015.jpg" alt="Lili Sumner November 2015")
                .content__category Make up
                h3.content__title Lili Sumner | Numéro №168 November 2015
                .content__desc There are many variations of passages of Lorem Ipsum available,
                    | but the majority have suffered alteration in some form, by injected humour or randomised words...
                .content__date Dec 09 /
                    span.content__date-year  2015
    .content__right