.nav {
  max-width: 940px;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 35px;
  }

  &__link {
    max-width: 150px;
    font-size: 14px;
    line-height: 2.57;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    overflow: hidden;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}