.about
    img.about__image(src="img/content/mona-kim.jpg" alt="Mona-Kim")
    .about__title About me
    h2.about__author Mona-Kim
    .about__desc The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        | Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
    .about__socials
        .about__socials-title Follow
        ul.about__socials-list
            li.about__socials-item
                a.about__socials-link(href="https://linkedin.com")
                    i.about__socials-icon.about__socials-icon_linkedin.fa.fa-linkedin
            li.about__socials-item
                a.about__socials-link(href="https://twitter.com")
                    i.about__socials-icon.about__socials-icon_twitter.fa.fa-twitter
            li.about__socials-item
                a.about__socials-link(href="https://facebook.com")
                    i.about__socials-icon.about__socials-icon_facebook.fa.fa-facebook