.categories
    .categories__title
    ul.categories__list
        li.categories__item Decor
        li.categories__item Fashion
        li.categories__item Lifestyle
        li.categories__item Travel
        li.categories__item My life
        li.categories__item Make up
        li.categories__item Beauty