.latest-posts
    .latest-posts__header
        h4.latest-posts__header-title Latest posts
    ul.latest-posts__list
        li.latest-posts__item
            .latest-posts__category Beauty
            .latest-posts__title The Beauty Evolution of Gigi Hadid, from Child Model to Fashion It Girl
            .latest-posts__date Nov 25
                span.latest-posts__date-year  / 2015
        li.latest-posts__item
            .latest-posts__category Fashion
            .latest-posts__title Which Throwback Girl Group are You and Your Friend?
            .latest-posts__date Nov 25
                span.latest-posts__date-year  / 2015
        li.latest-posts__item
            .latest-posts__category My Life
            .latest-posts__title Your Horoscope For This Week
            .latest-posts__date Nov 25
                span.latest-posts__date-year  / 2015