.latest-posts
    h4.latest-posts__title Latest posts
    ul.latest-posts__list
        li.latest-posts__item
            .latest-posts__category
            .latest-posts__title
            .latest-posts__date
                span.latest-posts__year
    ul.latest-posts__list
        li.latest-posts__item
            .latest-posts__category
            .latest-posts__title
            .latest-posts__date
                span.latest-posts__year
    ul.latest-posts__list
        li.latest-posts__item
            .latest-posts__category
            .latest-posts__title
            .latest-posts__date
                span.latest-posts__year