form.newsletter
    .newsletter__title Subscribe to my Newsletter
    .newsletter__inputs
        input.newsletter__email(name="email" placeholder="Your e-mail...")
        input.newsletter__submit(type="submit" value="submit")