.socials
    ul.socials__list
        li.socials__item
            a.socials__link(href="https://www.behance.net/")
                i.socials__icon.socials__icon_befance.fa.fa-behance
        li.socials__item
            a.socials__link(href="https://facebook.com")
                i.socials__icon.socials__icon_facebook.fa.fa-facebook
        li.socials__item
            a.socials__link(href="https://linkedin.com")
                i.socials__icon.socials__icon_linkedin.fa.fa-linkedin
        li.socials__item
            a.socials__link(href="https://pinterest.com")
                i.socials__icon.socials__icon_pinterest.fa.fa-pinterest